<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to polevents.uk, <%= @user.email %></h1>
<p>
 New events waiting for you!!
</p>
<p>
  To go to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks, have a great day!</p>
</body>
</html>